@import "../../../../theme/colors.scss";
.detail-container {
  max-width: 1200px;
  padding-top: 30px;
  margin: 0 auto;
  padding-top: 130px;
  @media screen and (max-width: 605px) {
    padding-top: 200px;
  }
  figure {
    margin: 0 auto;
  }
  .detail-title {
    font-size: 48px;
    color: $secondary-black;
    text-shadow: 1px 1px $bg-color;
  }
  .authorDetail__sectionTitle {
    text-align: center;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 30px 0;
    color: $primary-orange;
    text-shadow: 1px 1px $bg-color;
    background: linear-gradient(270deg,#fff,#fff 2%,#c5c5c5 33%, #9e9ea888 50%, #c5c5c5 65%,#fff 99%,#fff);
  }
  .boxShadow {
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 4px 8px #00000033;
  }
  .figure-caption {
    font-size: 18px;
    span {
      font-size: medium;
    }
  }
  .video-button {
    font-size: 24px;
  }
  a.video-button:hover,
  a.video-button:focus {
    cursor: pointer;
    color: $secondary-grey;
    font-weight: bold;
  }
  a:-webkit-any-link {
    color: $primary-black;
    text-decoration: none;
  }
  .bull {
    color: $primary-orange;
    font-size: 24px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 1px;
  }
  .videoContainer {
    margin: 0 auto;
    .overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 10;
      cursor: pointer;
    }
  }
  .mapContainer {
    margin: 0 auto;
    .map {
      margin: 0 auto;
      width: 80%;
      border: 1px solid;
      box-shadow: 0 4px 8px #00000033;
    }
  }
}
