<div class="wrapper">
  <h2 class="header">{{ "ABOUT_AUTHORS.TEAM" | translate }}</h2>
  <div class="teammates-table">
    <app-teammate-card
      class="card"
      *ngFor="let teammate of teammates"
      [teammate]="teammate"
    ></app-teammate-card>
  </div>
  <h2 class="worklog-header">{{ "ABOUT_AUTHORS.WORKLOG" | translate }}</h2>
  <div class="worklogs-table">
    <div class="worklog-item" *ngFor="let worklog of workLogs">
      <p>{{ worklog.teammateName }}</p>
      <app-teammate-worklog
        [worklog]="worklog.worklogItems"
      ></app-teammate-worklog>
    </div>
  </div>
</div>
