$bg-color: #fafafa;
$primary-black: #000;  //titles
$secondary-black: #08080b; //text
$primary-grey: #9e9ea8;  //navigation-links
$secondary-grey: #66666F; //navigation hover links
$primary-blue: #6166DC;  //buttons
$secondary-blue: #5256ac; //hover-buttons
$primary-orange: #f74e10;
$primary-white: #ffffff;
$bg-color-fade: #fafafa88;
$lite-gray: #c5c5c5;
