* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.header {
  width: 100%;
  position: absolute;
  top: 60px;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.logo__title {
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo__subtitle {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-height: 15px;
  letter-spacing: 0.1em;
  line-height: 110%;
}

.menu {
  width: 443px;
  display: flex;
}

.list {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}
.list .list__item {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list .list__item .list__link {
  text-decoration: none;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.9375rem;
  line-height: 160%;
  font-weight: 400;
}
.list .list__item .list__link_active {
  border-bottom: solid 3px #f1cdb3;
}
.list .list__item .list__link_disabled {
  color: #cdcdcd;
}

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  padding-top: 180px;
  background: url(/assets/noise_lines_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.hero__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.hero__image-wrapper {
  display: flex;
}
.content-section {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 84px;
  max-width: 468px;
}
.content-section__title {
  max-width: 19.375rem;
  color: #ffffff;
  font-family: Georgia;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 130%;
}
.content-section__subtitle {
  margin-top: 2.625rem;
  font-family: Arial;
  color: #cdcdcd;
  line-height: 160%;
  font-weight: 400;
  font-size: 15px;
}
.content-section__button {
  margin-top: 42px;
  background-color: #f1cdb3;
  width: 207px;
  border-radius: 100px;
  height: 52px;
  padding: 14px 45px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.05em;
  cursor: pointer;
  outline: 0;
  border: none;
  transition-duration: 0.5s;
}
.content-section__button:hover {
  background-color: #fddcc4;
}

.about {
  display: flex;
}
.about__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 80px 175px 100px 175px;
}
.about .wrapper {
  justify-content: center;
}
.about__image-wrapper {
  display: flex;
}
.about__image {
  width: 100%;
}
.about__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 430px;
}
.about__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about__title span {
  display: block;
}
.about__description {
  margin-top: 25px;
}
.about__description p {
  color: #4c4c4c;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}
.about__description p:nth-child(2) {
  margin-top: 25px;
}

.pets {
  padding-top: 80px;
  padding-bottom: 100px;
}
.pets__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets__title {
  max-width: 400px;
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.pets__title span {
  display: block;
}
.pets__content {
  display: flex;
  align-items: center;
}
.pets__content .pets-cards {
  display: flex;
  padding: 60px 8px;
}
.pets__content .pets-card {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  margin: 0 45px;
}
.pets__content .pets-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets__content .pets-card__image {
  width: 270px;
  height: 270px;
}
.pets__content .pets-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.pets__content .pets-card__title {
  margin: 30px 0;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.pets__content .pets-card__button {
  background: none;
  box-shadow: inset 0 0 0 2px #f1cdb3;
  width: 207px;
  border-radius: 100px;
  height: 52px;
  padding: 14px 45px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.05em;
  cursor: pointer;
  outline: 0;
  border: none;
  transition-duration: 0.5s;
  width: 187px;
}
.pets__content .pets-card__button:hover {
  background-color: #fddcc4;
  box-shadow: none;
}
.pets__content .slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  box-shadow: inset 0 0 0 2px #f1cdb3;
  border-radius: 100%;
  padding: 19px;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
  transition-duration: 0.5s;
}
.pets__content .slider-button:hover {
  background-color: #fddcc4;
  box-shadow: none;
}
.pets__content .slider-button_reverted {
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  box-shadow: inset 0 0 0 2px #f1cdb3;
  border-radius: 100%;
  padding: 19px;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
  transition-duration: 0.5s;
}
.pets__content .slider-button_reverted:hover {
  background-color: #fddcc4;
  box-shadow: none;
}
.pets__button {
  background-color: #f1cdb3;
  width: 207px;
  border-radius: 100px;
  height: 52px;
  padding: 14px 45px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.05em;
  cursor: pointer;
  outline: 0;
  border: none;
  transition-duration: 0.5s;
  width: 261px;
}
.pets__button:hover {
  background-color: #fddcc4;
}

.help {
  margin-top: 80px;
  margin-bottom: 100px;
}
.help__wrapper {
  display: flex;
  flex-direction: column;
}
.help__title {
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.help__title span {
  display: block;
}
.help__content {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
}
.help__item {
  display: flex;
  flex-direction: column;
}
.help__item-title {
  margin-top: 30px;
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.donation {
  margin-top: 80px;
  margin-bottom: 100px;
}
.donation__wrapper {
  display: flex;
  justify-content: center;
}
.donation__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donation__content {
  margin-left: 30px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.donation__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.donation__title span {
  display: block;
}
.donation__subtitle {
  margin-top: 20px;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.donation__payment {
  background-color: #f1cdb3;
  width: 207px;
  border-radius: 100px;
  height: 52px;
  padding: 14px 45px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.05em;
  cursor: pointer;
  outline: 0;
  border: none;
  transition-duration: 0.5s;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  width: 349px;
  height: 44px;
}
.donation__payment:hover {
  background-color: #fddcc4;
}
.donation__payment-text {
  padding-left: 15px;
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  letter-spacing: 0.058em;
}
.donation__description {
  margin-top: 20px;
  color: #b2b2b2;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

.footer {
  padding-top: 40px;
  background: url(/assets/noise_lines_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}
.footer__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 16px;
  padding-right: 165px;
}
.footer__locations, .footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer__locations-title, .footer__contacts-title {
  color: #ffffff;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.footer__locations-title span, .footer__contacts-title span {
  display: block;
}
.footer__locations-address, .footer__locations-phone, .footer__locations-mail, .footer__contacts-address, .footer__contacts-phone, .footer__contacts-mail {
  display: flex;
  align-items: center;
}
.footer__locations-address-place span, .footer__locations-phone-place span, .footer__locations-mail-place span, .footer__contacts-address-place span, .footer__contacts-phone-place span, .footer__contacts-mail-place span {
  display: block;
}
.footer__locations-address-place, .footer__locations-address-text, .footer__locations-phone-place, .footer__locations-phone-text, .footer__locations-mail-place, .footer__locations-mail-text, .footer__contacts-address-place, .footer__contacts-address-text, .footer__contacts-phone-place, .footer__contacts-phone-text, .footer__contacts-mail-place, .footer__contacts-mail-text {
  padding-left: 20px;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0 40px;
  }

  html {
    width: 1280px;
  }
}

/*# sourceMappingURL=main.css.map */
