@import "../../../../theme/colors.scss";

.slider-wrapper {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid $primary-grey;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}
